<section class="rounded-sm font-light text-right" *ngIf="isSignedIn">
  <button mat-raised-button color="warn" (click)="handleLogout()">Log out</button>
</section>

<form class="flex flex-col md:flex-row gap-0 md:gap-4 bg-gray-200 p-2 rounded-sm items-center" *ngIf="!isSignedIn">
  <mat-form-field>
    <mat-label class="font-extralight pl-2">Email</mat-label>
    <input placeholder="your_email@example.com" class="rounded-sm border" type="email" #email matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
    <mat-error class="bg-red-300 font-extralight px-2 py-1 rounded-md" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error class="bg-red-300 font-extralight px-2 py-1 rounded-md" *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label class="font-extralight pl-2">Password</mat-label>
    <input class="rounded-sm border" type="password" #password matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
           placeholder="*********">
  </mat-form-field>
    <a mat-raised-button color="primary" class="text-center " (click)="onSignIn(email.value,password.value)">Login</a>
</form>







