<app-login class="absolute right-10 top-5"></app-login>

<section *ngIf="actualWeather=='Rain'" class="h-screen w-screen bg-no-repeat bg-cover bg-center flex flex-col items-center gap-4 md:gap-0 md:flex-row md:justify-around" style="background-image: url(./assets/bg_rain.jpg)">
  <section class="flex flex-col md:justify-between items-center">
    <app-weather class="w-1/2 md:w-full"></app-weather>
  </section>
  <section class="flex flex-col md:justify-center items-center gap-12 md:gap-4">
    <app-timer></app-timer>
    <app-data></app-data>
  </section>
</section>

<section *ngIf="changeBackground()==0 && actualWeather!='Rain'" class="h-screen w-screen bg-no-repeat bg-cover bg-center flex flex-col-reverse justify-center items-center gap-4 md:gap-0 md:flex-row md:justify-around" style="background-image: url(./assets/bg_night.jpg)">
  <section class="flex flex-col md:justify-between items-center">
    <app-weather class="w-1/2 md:w-full"></app-weather>
  </section>
  <section class="flex flex-col md:justify-center items-center gap-12 md:gap-4">
    <app-timer></app-timer>
    <app-data></app-data>
  </section>
</section>

<section *ngIf="changeBackground()==1 && actualWeather!='Rain'" class="h-screen w-screen bg-no-repeat bg-cover bg-center flex flex-col items-center gap-4 md:gap-0 md:flex-row md:justify-around" style="background-image: url(./assets/bg_sun.jpg)">
  <section class="flex flex-col md:justify-between items-center">
    <app-weather class="w-1/2 md:w-full"></app-weather>
  </section>
  <section class="flex flex-col md:justify-center items-center gap-12 md:gap-4">
    <app-timer></app-timer>
    <app-data></app-data>
  </section>
</section>

<app-wattering class="md:pb-8"></app-wattering>

